/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/contractorFiles
/public/excel
/public/images
/public/document
/public/dbbackup
/public/Import Excels
/public/activityFiles
/public/apugKagajats
/.idea
/.vagrant
.env_
request.log
_ide_helper.php
package-lock.json
backup.tar.bz2
error_log
vendor-backups
Firebase.json
db_backups/
/public/zip
composer.lock